    /*
    Flaticon icon font: Flaticon
    Creation date: 07/03/2018 15:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-charity:before { content: "\f100"; }
.flaticon-donate-1:before { content: "\f101"; }
.flaticon-donate:before { content: "\f102"; }
.flaticon-plus-symbol:before { content: "\f103"; }
.flaticon-add:before { content: "\f104"; }
.flaticon-shut-down:before { content: "\f105"; }
.flaticon-power-off:before { content: "\f106"; }
.flaticon-turn-on:before { content: "\f107"; }
.flaticon-arrows:before { content: "\f108"; }
.flaticon-thin-right-arrow:before { content: "\f109"; }
.flaticon-right-arrow:before { content: "\f10a"; }
.flaticon-calendar-1:before { content: "\f10b"; }
.flaticon-calendar:before { content: "\f10c"; }
.flaticon-placeholder-1:before { content: "\f10d"; }
.flaticon-placeholder:before { content: "\f10e"; }
.flaticon-mail:before { content: "\f10f"; }
.flaticon-arroba:before { content: "\f110"; }
.flaticon-fingerprint-1:before { content: "\f111"; }
.flaticon-fingerprint:before { content: "\f112"; }
.flaticon-key-1:before { content: "\f113"; }
.flaticon-key:before { content: "\f114"; }
.flaticon-user:before { content: "\f115"; }
    
    $font-Flaticon-charity: "\f100";
    $font-Flaticon-donate-1: "\f101";
    $font-Flaticon-donate: "\f102";
    $font-Flaticon-plus-symbol: "\f103";
    $font-Flaticon-add: "\f104";
    $font-Flaticon-shut-down: "\f105";
    $font-Flaticon-power-off: "\f106";
    $font-Flaticon-turn-on: "\f107";
    $font-Flaticon-arrows: "\f108";
    $font-Flaticon-thin-right-arrow: "\f109";
    $font-Flaticon-right-arrow: "\f10a";
    $font-Flaticon-calendar-1: "\f10b";
    $font-Flaticon-calendar: "\f10c";
    $font-Flaticon-placeholder-1: "\f10d";
    $font-Flaticon-placeholder: "\f10e";
    $font-Flaticon-mail: "\f10f";
    $font-Flaticon-arroba: "\f110";
    $font-Flaticon-fingerprint-1: "\f111";
    $font-Flaticon-fingerprint: "\f112";
    $font-Flaticon-key-1: "\f113";
    $font-Flaticon-key: "\f114";
    $font-Flaticon-user: "\f115";